@model AtmApplication.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Card.CardType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Card.CardType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionsId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
