@model IEnumerable<AtmApplication.Models.Transaction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Card.CardType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Card.CardType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransactionsId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransactionsId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransactionsId })
        </td>
    </tr>
}

</table>
